/* $lightBlue: #84a9ac; */
/* $darkBlue: #3b6978; */
@font-face {
  font-family: gothamBold;
  src: url(/assets/Gotham_Bold.otf);
}
@font-face {
  font-family: gothamRoundedLight;
  src: url(/assets/Gotham_Rounded_Light.otf);
}
@font-face {
  font-family: helveticaNeueLight;
  src: url(/assets/Helvetica_Neue_Light.ttf);
}
@font-face {
  font-family: helveticaNeueMedium;
  src: url(/assets/Helvetica_Neue_Medium.ttf);
}
@font-face {
  font-family: helveticaNeueBold;
  src: url(/assets/Helvetica_Neue_Bold.ttf);
}
nav {
  background-color: #383838;
  color: #d35266;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav h2 {
  font-family: gothamBold;
  font-size: 24px;
  color: #e4e3e3;
}
nav ul {
  display: flex;
}
nav li {
  padding-top: 5px;
  padding-left: 20px;
}
nav a {
  color: #d35266;
}
nav a:hover {
  color: #383838;
}

body {
  background-color: #e4e3e3;
  font-family: helveticaNeueLight;
}
body button,
body input,
body select {
  outline: none;
  border: none;
  background-color: #d35266;
  color: #383838;
}
body ::placeholder {
  color: #383838;
  opacity: 1;
}
body h4 {
  color: #d35266;
}

.logo {
  width: 50px;
}

.search-area {
  background-image: url(/assets/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10% 0;
}
.search-area h1, .search-area p {
  color: #d35266;
  font-family: gothicBold;
}
.search-area .fa-sort-down {
  bottom: 20px;
  left: 20px;
}

section {
  background-color: #e4e3e3;
  color: #383838;
}
section .ads-more {
  bottom: 5px;
  right: 15px;
}

footer {
  background-color: #d35266;
  color: #383838;
}
footer a {
  color: #383838;
  padding: 5px;
  border-radius: 5px;
}
footer a:hover {
  background-color: #383838;
  color: #e4e3e3;
}

.cntrl-next {
  margin-left: 18vw;
}

.cntrl-prev {
  margin-right: 18vw;
}

aside {
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .slider-img {
    width: 200px;
  }
}