/* $lightBlue: #84a9ac; */
/* $darkBlue: #3b6978; */
@font-face {
  font-family: gothamBold;
  src: url(/assets/Gotham_Bold.otf);
}
@font-face {
  font-family: gothamRoundedLight;
  src: url(/assets/Gotham_Rounded_Light.otf);
}
@font-face {
  font-family: helveticaNeueLight;
  src: url(/assets/Helvetica_Neue_Light.ttf);
}
@font-face {
  font-family: helveticaNeueMedium;
  src: url(/assets/Helvetica_Neue_Medium.ttf);
}
@font-face {
  font-family: helveticaNeueBold;
  src: url(/assets/Helvetica_Neue_Bold.ttf);
}
nav {
  background-color: #383838;
  color: #d35266;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav h6 {
  font-family: gothamBold;
  color: #e4e3e3;
}
nav ul {
  display: flex;
}
nav li {
  padding-top: 10px;
  padding-left: 20px;
}
nav a {
  color: #d35266;
}
nav a:hover {
  color: #e4e3e3;
}

.main-contain {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: #e4e3e3;
  font-family: helveticaNeueLight;
}
body button,
body input,
body select {
  outline: none;
  border: none;
  background-color: #e4e3e3;
  color: #383838;
}
body ::placeholder {
  color: #383838;
  opacity: 1;
}
body h4 {
  color: #d35266;
}

.logo {
  width: 50px;
}

.search-area {
  box-shadow: inset 0 0 0 1000px rgba(211, 82, 102, 0.8);
  background: url(/assets/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 10% 0;
}
.search-area h1, .search-area p {
  color: #e4e3e3;
  font-family: helveticaNeueBold;
}
.search-area .fa-sort-down {
  bottom: 20px;
  left: 20px;
}

section {
  background-color: #e4e3e3;
  color: #383838;
}
section .ads-more {
  bottom: 5px;
  right: 15px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-top: solid 1px #6c757d;
  color: #888;
}
footer h4 {
  color: #888;
  margin: auto;
}
footer h5 {
  color: #d35266;
  border-bottom: #d35266 solid 1px;
}
footer a {
  color: #888;
  padding: 5px;
  border-radius: 5px;
}
footer a:hover {
  background-color: #383838;
  color: #e4e3e3;
}

.cntrl-next {
  margin-left: 10vw;
}

.cntrl-prev {
  margin-right: 10vw;
}

aside {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .slider-img {
    object-fit: 200px;
  }

  footer {
    display: flex;
    align-items: center;
  }
  footer .company-info,
footer .footer-categories {
    flex-direction: column;
    max-width: 50%;
  }
  footer .footer-links {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .company-info,
.company-logo,
.footer-links {
    display: flex;
    align-items: flex-start;
  }

  .company-info,
.footer-categories {
    flex-direction: column;
    max-width: 30%;
  }
}
@media screen and (max-width: 500px) {
  nav li {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .company-info,
footer .footer-categories {
    flex-direction: column;
    max-width: 100%;
  }
  footer .footer-links {
    display: flex;
  }
}