// variables

$white: #e4e3e3;
/* $lightBlue: #84a9ac; */
$lightGray: #888;
/* $darkBlue: #3b6978; */
$weirdPink: #d35266;
$headerSize: 46px;
$titleSize: 24px;
$textColor: #383838;

// font-families

@font-face {
    font-family: gothamBold;
    src: url(/assets/Gotham_Bold.otf);
  }
  
  @font-face {
    font-family: gothamRoundedLight;
    src: url(/assets/Gotham_Rounded_Light.otf);
  }
  
  @font-face {
    font-family: helveticaNeueLight;
    src: url(/assets/Helvetica_Neue_Light.ttf);
  }
  
  @font-face {
    font-family: helveticaNeueMedium;
    src: url(/assets/Helvetica_Neue_Medium.ttf);
  }
  
  @font-face {
    font-family: helveticaNeueBold;
    src: url(/assets/Helvetica_Neue_Bold.ttf);
  }

// end of font families

nav {
    background-color: $textColor;
    color: $weirdPink;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2 {
        font-family: gothamBold;
        font-size: $titleSize;
        color: $white;
    }
    ul {
        display: flex;
    }
    li {
        padding-top: 5px;
        padding-left: 20px;
    }
    a {
        color: $weirdPink;
    &:hover {
        color: $textColor;
    }
    }
    }

.main-contain {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: $white;
  font-family: helveticaNeueLight;
  button,
    input,
    select {
      outline: none;
      border: none;
      background-color: $white;
      color: $textColor;
    }
    ::placeholder {
      color: $textColor;
      opacity: 1;
    }

  h4 {
    color: $weirdPink;
  }  
}
    

.logo{
    width: 50px;
}

.search-area {
    box-shadow: inset 0 0 0 1000px rgba(211,82,102,0.3);
    background:url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 10% 0;
    h1, p {
        color: $white;
        font-family: helveticaNeueBold;
    }
    .fa-sort-down {
      bottom: 20px;
      left: 20px;
    }
}

section {
  background-color: $white;
  color: $textColor;
  .ads-more {
    bottom: 5px;
    right: 15px;
  }

}

footer {
  background-color: #fff;
  border-top: solid 1px #6c757d;
  color: $lightGray;
  h4 {
    color: $lightGray;
  }
  h5 {
    color: $weirdPink;
    border-bottom: $weirdPink solid 1px;
  }
  a {
    color: $lightGray;
    padding: 5px;
    border-radius: 5px;
  &:hover {
    background-color: $textColor;
    color: $white;
  }
  }
}

.cntrl-next {
  margin-left: 10vw;
}

.cntrl-prev {
  margin-right: 10vw;
}

aside {
  font-size:  13px;
}

/* @media screen and (max-width: 992px) {
  .slider-img {
    object-fit: 200px;
  }
}
 */